<div class="board-table">
  <div class="top-legend">
    <p class="top-legend-letter" *ngFor="let letter of ['A','B','C','D','E','F','G','H','I','J','L','M','N']">{{letter}}</p>
  </div>
  <div class="board-row" *ngFor="let row of [0,1,2,3,4,5,6,7,8,9,10,11,12]">
    <div class="left-legend">{{row}}</div>
    <div
      class="board-cell"
      *ngFor="let column of [0,1,2,3,4,5,6,7,8,9,10,11,12]"
      droppable
      (onDrop)="this.onShipDrop($event, row, column)"
      id="{{row + ',' + column}}"
      (click)="onCellClick(row, column)"
    >
      <app-ship
        class="absolute-ship"
        *ngIf="this.cells[row][column].ship"
        [id]="this.cells[row][column].ship.id"
        [shipType]="this.cells[row][column].ship.shipType"
        [originRow]="row" [originColumn]="column"
        [shipOrientation]="this.cells[row][column].ship.horizontal"
        [initialOrientation]="this.cells[row][column].ship.horizontal"
        [enableDrag]="!this.disabled"
      ></app-ship>
      <app-shot
        *ngIf="this.cells[row][column].shot"
        [row]="row"
        [column]="column"
        [hit]="this.cells[row][column].shot.hit"
      ></app-shot>
    </div>
  </div>
</div>

